In [2]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [3]:
indexes = [1, 2, 3] 
names = ['Khawlah', 'Sara', 'Nora']  
series = pd.Series(names, index=indexes)
print(series)

1    Khawlah
2       Sara
3       Nora
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [5]:
series.index = [11, 12, 13]

## Q3: Retrieve First and second elements.

In [6]:
first_element = series[11]
second_element = series[12]

## Q4: Add duplicate elements, then remove the duplication.

In [10]:
series = pd.concat((series,pd.Series(['Sara', 'Nora'], index=[14, 15])))
print(series)
series = series.drop_duplicates()
print(series)

11    Khawlah
12       Sara
13       Nora
14       Sara
15       Nora
dtype: object
11    Khawlah
12       Sara
13       Nora
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [11]:
Students = pd.DataFrame(columns=['ID', 'Name', 'GPA'])
Students

Empty DataFrame
Columns: [ID, Name, GPA]
Index: []

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [19]:
edu = pd.read_csv("educ_figdp_1_Data.csv")
edu.head(5)

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.

In [23]:
edu.loc[1:3,:]

edu[1:3]

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e